[submodule "nest-old/offline_folium"]
	path = nest-old/offline_folium
	url = https://github.com/robintw/offline_folium.git
[submodule "nova-floc"]
	path = nova-floc
	url = git@github.com:EchoNet-Capstone/nova-floc.git
